@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$color-accent: #ff6347ee;
$color-black: #181818;
$color-dark-gray: #444444;
$color-mid-gray: #555555;
$color-light-gray: #dddddd;
$color-white: #ffffff;

/* base styles */

* {
  margin: 0;
  font-family: "Quicksand";
}

html body {
  height: 100%;
}

/* app styles */

.content {
  text-align: center;
  background-color: $color-white;
  min-height: calc(100vh - 130px);
}

.container {
  max-width: 1280px;
  margin: auto;
}


/* segment styles */

.segment {
  margin:auto;
  padding: 40px;
  text-align: center;
}
.segment-even {
  background-color: $color-dark-gray;
  color: $color-white;
}
.segment-odd {
  background-color: $color-mid-gray;
  color: $color-white;
}


/* navbar styles */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: $color-accent;
}
.navbar .links {
  margin-left: auto;
}
.navbar .links a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color:$color-white;
}
.navbar a:hover {
  color: $color-dark-gray;
}
.navbar .home-link {
  text-decoration: none;
  color: $color-white;
  font-size: x-large;
  font-weight: bold;
}

/* footer styles */

.footer {
  display: flex;
  padding: 20px;
  background-color: $color-black;
  color: $color-light-gray;
  justify-content: space-between;
}
