@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$color-accent: #fa593cee;
$color-black: #181818;
$color-dark-gray: #444444;
$color-mid-gray: #555555;
$color-light-gray: #dddddd;
$color-white: #ffffff;

/* base styles */

* {
  margin: 0;
}

body {
  font-family: "Quicksand";
}

/* app styles */

.content {
  text-align: center;
  min-height: calc(100vh - 130px);
}

.container {
  max-width: 1280px;
  margin: auto;
}

/* segment styles */

.segment {
  margin: auto;
  padding: 40px;
  text-align: center;
}
.segment-odd {
  background-color: $color-dark-gray;
  color: $color-white;
}
.segment-even {
  background-color: $color-mid-gray;
  color: $color-white;
}

/* navbar styles */

.navbar {
  padding: 20px;
  margin: auto;
  background-color: $color-accent;
}
.nav-container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .links {
  display: inline;
}
.navbar .links a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color:$color-white;
}
.navbar .home-link {
  text-decoration: none;
  color: $color-white;
  font-size: x-large;
  font-weight: bold;
}
.navbar a:hover {
  color: $color-dark-gray;
}

/* footer styles */

.footer {
  background-color: $color-black;
  color: $color-light-gray;
}
.footer-container {
  max-width: 1280px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* banner styles */

.banner {
  padding: 100px 60px;
  background-color: $color-dark-gray;
  color: $color-white;
  display: flex;
}
.banner-container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
}
.banner-text {
  font-size: 5em;
  font-family: sans-serif;
  font-style: italic; 
  font-weight: bold;
  display: inline-block;
  text-align: left;
}
.banner-image {
  display: inline-block;
  margin-right: 20px;
}
.banner-image img {
  max-width: 350px;
  height:auto;
}